<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./head %>
    <link rel="stylesheet" href="/stylesheets/admin_style.css">
</head>
<body>
    <header class="mb-3">
        <nav class="navbar sticky-top navbar-expand-lg " style="background-color: #D1FFFD;">
            <a class="navbar-brand ml-2" href="/">
                <img src="/images/logo.png" width="60px" alt="The Kid's World logo" loading="lazy">
            </a>
            <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar"> 
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/categories">Danh mục</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/products">Sản phẩm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/orders">Đơn hàng</a>
                    </li>
                </ul>
                <div class="navbar-nav ml-auto">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" onclick="window.location.href='/users/account'"
                        aria-haspopup="true" aria-expanded="false">
                            <img src="/images/useravatar.png" alt="account" width="25px">
                        </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" style="background-color: rgb(133, 210, 255); 
                                                    outline: none; border: none; padding: 7px; border-radius: 10px;">
                                <a class="nav-link" href="#">ADMIN</a>
                                <a class="dropdown-item" id="btn-up" href="/users/logout">ĐĂNG XUẤT</a>
                            </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">

    <%- messages('messages', locals) %>
    
    <% if (errors) { %>
        <% errors.forEach((error) => { %>
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong><%= error.msg %></strong>
            </div>
        <% }); %>
    <% } %>