<footer style="background-color: #D1FFFD; padding-top: 60px;" >
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p id="nameweb">The Kid's World</p>
                <ul class="contactinfo">
                    <li>Điện thoại : 17520811</li>
                    <li>Email : 17520811@gm.uit.edu.vn</li>
                    <li>Địa chỉ : 12345, Somewhere Street, Vietnam</li>
                </ul>
            </div>
            <div class="col-md-2">
                <p class="footerinfo">Hệ thống</p>
                <ul>
                    <li>Trang chủ</li>
                    <li>Sản phẩm</li>
                    <li>Giảm giá</li>
                    <li>Về chúng tôi</li>
                </ul>
            </div>
            <div class="col-md-2">
                <p class="footerinfo">Hỗ trợ</p>
                <ul>
                    <li>FAQ</li>
                    <li>Liên hệ</li>
                </ul>
            </div>
            <div class="col-md-2">
                <p class="footerinfo">Chúng tôi ở</p>
                <ul>
                    <li>Twitter</li>
                    <li>Facebook</li>
                    <li>Instagram</li>
                </ul>
            </div>
            <div class="col-md-2">
                <p class="footerinfo">Kết nối</p>
                <ul>
                    <li>Đăng ký</li>
                    <li>Đăng nhập</li>
                </ul>
            </div>
        </div>
        <p class="note">Website được xây dựng cho mục đích học tập môn Thương mại điện tử và triển khai ứng dụng.<br>Giáo viên hướng dẫn bộ môn : Trần Tuấn Dũng</p>
    </div>
        
</footer>

<% include ./script %>

</body>
</html>