<footer style="background-color: #D1FFFD; padding-top: 60px;" >
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p id="nameweb">The Kid's World</p>
                <ul class="contactinfo">
                    <li>Điện thoại : 0934567899</li>
                    <li>Email : nhom9@gm.uit.edu.vn</li>
                    <li>Địa chỉ : Số 1 Hàn Thuyên, KP6, Phường Linh Trung, Quận Thủ Đức, TPHCM</li>
                    <div style="margin-top: 10px;" class="fb-share-button" data-href="https://thekidsworlds.000webhostapp.com" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fthekidsworlds.000webhostapp.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                </ul>
            </div>
            <div class="col-md-2">
                <p class="footerinfo">Hệ thống</p>
                <ul>
                    <li>Trang chủ</li>
                    <li>Sản phẩm</li>
                    <li>Giảm giá</li>
                    <li>Về chúng tôi</li>
                </ul>
            </div>
            <div class="col-md-2">
                <p class="footerinfo">Hỗ trợ</p>
                <ul>
                    <li>FAQ</li>
                    <li>Liên hệ</li>
                </ul>
            </div>
            <div class="col-md-2">
                <p class="footerinfo">Chúng tôi ở</p>
                <ul>
                    <li>Twitter</li>
                    <li>Facebook</li>
                    <li>Instagram</li>
                </ul>
            </div>
            <div class="col-md-2">
                <p class="footerinfo">Kết nối</p>
                <ul>
                    <li>Đăng ký</li>
                    <li>Đăng nhập</li>
                </ul>
            </div>
        </div>
        <p class="note">Website được xây dựng cho môn học Thương mại điện tử và triển khai ứng dụng.<br>Không có thông tin nào ở trang web này là thật.<br> <strong>Giảng viên hướng dẫn bộ môn: TRẦN TUẤN DŨNG</strong></p>
    </div>
        
</footer>

<% include ./script %>

</body>
</html>