<footer style="background-color: #D1FFFD; padding-top: 60px;" >
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p id="nameweb">The Kid's World</p>
                <ul class="contactinfo">
                    <li>Điện thoại : 0934567899</li>
                    <li>Email : nhom1@gm.uit.edu.vn</li>
                    <li>Địa chỉ : Số 1 Hàn Thuyên, KP6, Phường Linh Trung, Quận Thủ Đức, TPHCM</li>
                    <div class="fb-share-button" data-href="https://thekidsworld.herokuapp.com" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fthekidsworld.herokuapp.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
                </ul>
            </div>
            <div class="col-md-2">
                <p class="footerinfo">Hệ thống</p>
                <ul>
                    <a href="/"><li>Trang chủ</li></a>
                    <a href="/products/best-sellers"><li>Sản phẩm</li></a>
                    <a href="/sales"><li>Giảm giá</li></a>
                    <a href="/aboutus"><li>Về chúng tôi</li></a>
                </ul>
            </div>
            <div class="col-md-2">
                <p class="footerinfo">Hỗ trợ</p>
                <ul>
                    <a href="/faq"><li>FAQ</li></a>
                    <a href="/aboutus"><li>Liên hệ</li></a>
                </ul>
            </div>
            <div class="col-md-2">
                <p class="footerinfo">Chúng tôi ở</p>
                <ul>
                    <a href="https://www.twitter.com/"><li>Twitter</li></a>
                    <a href="https://www.facebook.com/wearethekidsworld"><li>Facebook</li></a>
                    <a href="https://www.instagram.com/"><li>Instagram</li></a>
                </ul>
            </div>
            <div class="col-md-2">
                <p class="footerinfo">Kết nối</p>
                <ul>
                    <a href="/users/signup"><li>Đăng ký</li></a>
                    <a href="/users/signin"><li>Đăng nhập</li></a>
                </ul>
            </div>
        </div>
        <p class="note">Website được xây dựng cho môn học Thương mại điện tử và Triển khai ứng dụng.<br>Không có thông tin nào ở trang web này là thật.<br> <strong>Giảng viên hướng dẫn bộ môn: TRẦN TUẤN DŨNG</strong></p>
    </div>
        
</footer>

<% include ./script %>

</body>
</html>