<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= headTitle %></title>
<link rel="apple-touch-icon" sizes="180x180" href="/resources/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/resources/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/resources/favicons/favicon-16x16.png">
<link rel="manifest" href="/resources/favicons/site.webmanifest">
<link rel="mask-icon" href="/resources/favicons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/resources/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/resources/favicons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/bootstrap-dialog.css">
<link rel="stylesheet" href="/stylesheets/bootstrap-dialog.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<meta name="keywords" content="Đồ trẻ em, Đồ dùng trẻ em, Thời trang cho bé, Quần áo trẻ em, Sữa, Tã cho bé">
<meta property="og:url"           content="https://thekidsworld.herokuapp.com" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="The Kid's World" />
<meta property="og:description"   content="Chuyên về các mặt hàng dành cho trẻ em như quần áo trẻ em, sữa, tả, giày dép trẻ em,.." />
<meta property="og:image"         content="https://scontent.fsgn5-3.fna.fbcdn.net/v/t1.15752-9/104474065_263899954863829_6199984973096625261_n.png?_nc_cat=110&_nc_sid=b96e70&_nc_ohc=tgeUP51_kbEAX9pdnel&_nc_ht=scontent.fsgn5-3.fna&oh=e4925e698bbf2c5b346d3d5582de1a59&oe=5F1279F4" />
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>