<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= headTitle %></title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="/stylesheets/bootstrap-dialog.css">
<link rel="stylesheet" href="/stylesheets/bootstrap-dialog.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<meta property="og:url"           content="https://thekidsworlds.000webhostapp.com" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="The Kid's World" />
<meta property="og:description"   content="Chuyên về các mặt hàng dành cho trẻ em như quần áo trẻ em, sữa, tả, giày dép trẻ em,.." />
<meta property="og:image"         content="https://scontent.fsgn5-3.fna.fbcdn.net/v/t1.15752-9/104474065_263899954863829_6199984973096625261_n.png?_nc_cat=110&_nc_sid=b96e70&_nc_ohc=tgeUP51_kbEAX9pdnel&_nc_ht=scontent.fsgn5-3.fna&oh=e4925e698bbf2c5b346d3d5582de1a59&oe=5F1279F4" />
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>