<% include ./partials/header %>

<div class="container" style="margin-top: 30px; margin-bottom: 30px;" data-aos="fade-down">
    <div class="row justify-content-center">
        <div class="thankyou-mess">
            <img src="/images/thank-you.png" alt="thank you!" class="img-fluid" width="200px">
            <p style="text-transform: uppercase; font-size: large; font-weight: bold; color: #6fbebb; margin-top: 15px;" >Cảm ơn bạn đã ủng hộ The Kid's World!</p>
            <p style="margin-bottom: 0px; color: #49817f;" >Chúng tôi mong bạn có những trải nghiệm tuyệt vời khi mua sắm cùng The Kid's World!</p>
            <p style="color: #49817f;" >Chi tiết thông tin đơn hàng chúng tôi đã gửi qua email cho bạn, nhớ kiểm tra bạn nhé!</p>
            <a href="/" class="button-back color-1" style="padding: 10px 30px;">Tiếp tục mua sắm</a>
        </div>
    </div>
</div>

<% include ./partials/footer %>