*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*--------------------------------------------------------------*/
.navbar-toggler {
  border: none;
  outline: none;
}

.megamenu-li {
position: static;
}

.megamenu {
position: absolute;
width: 100%;
left: 0;
right: 0;
padding: 15px;
}
/*--------------------------SEARCH BOX-----------------------*/
#search {
  border: none;
  outline: none;
  width:75px;
  transition: width .5s ease
}
#search:hover{
  width:200px
}
#btn-in, #btn-up{
  border-radius: 10px;
  background-color: white;
  text-align: center;
  font-weight: bold;
  color: rgb(88, 167, 163);
}
#btn-in {
  margin-bottom: 5px;
}
ul li a {
  font-size: 18px;
  font-weight: bold;
  color: #5A8B8F;
}

.navbar-nav li:hover>.dropdown-menu {
  display: block;
}

.navbar-nav .dropdown:hover>.dropdown-menu-right {
  display: block;
}
h5{
  font-size: 18px;
  color: skyblue;
}
.dropdown-item{
  font-size: 16px;
}
/*------------------Title and Subtitle----------------*/
.title{
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 0px;
}
.subtitle{
  text-align: center;
  font-style: italic;
  font-size: 18px;
}
.title, .subtitle {
  color: rgb(98, 200, 211);
}
/*------------------CARD-------------------*/
.cardinformation{
  border-radius: 10px;
  border: 3px solid #88C3C9;
  text-align: center;
  margin: 20px 10px;
}
/* .card {
  border-radius: 20px;
  border: 2px solid skyblue;
} */

.card-img{
  width: 75%;
  margin-bottom: 0;
}

/* .img-thumbnail{
  padding: 20px 20px 0px 20px;
  margin-bottom: 0;
} */
.card-text {
  margin: 10px 40px;
  padding-bottom: 10px;
}
.card-title{
  font-size: 12px;
  color: teal;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.checked {
  color: orange;
}
.original-price{
  color: rgb(156, 156, 156);
  padding: 0;
  margin: 0;
}
.product-price{
  color: rgb(255, 122, 122);
  font-size: 16px;
  font-weight: bold;
  padding: 0;
  margin: -5px 0px 3px 0px;
}

.card:hover{
  box-shadow: -1px 9px 20px -12px rgba(0, 0, 0, 75);
  -moz-box-shadow: -1px 9px 20px -12px rgba(0, 0, 0, 75);;
  -webkit-box-shadow: -1px 9px 20px -12px rgba(0, 0, 0, 75);;
}

.cate{
  text-align: center;
  padding-top: 25px;
  padding-bottom: 5px;
  margin: 15px 5px;
  background-color: #EBFCFF;
  border-radius: 70px;
}
.cate-title{
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
  color: #60C1CB;
}
.adven{
  text-align: center;
  padding: 10px 0px;
  margin: 30px;
}
.adven-title{
  margin-top: 5px;
  font-weight: bold;
  padding: 0;
  margin-bottom: 0;
  color: rgb(99, 138, 197);
}
.adven-sub{
  font-style: italic;
  color: rgb(62, 94, 146);
  margin-bottom: 0;
}

.comt{
  margin-top: 20px;
  border: 2px skyblue dashed;
  border-radius: 20px;
}
.comt-detail{
  text-align: center;
  font-size: 20px;
  padding: 30px 20px;
  margin-bottom: 0;
  font-style: italic;
  color: #559CA4;
}
/*------------FOOTER------------*/
.note{
  text-align: center;
  font-size: 20px;
  padding-bottom: 50px;
  font-family: Cambria,serif;
  color: #57AEB9;
  padding-top: 50px;
  margin-bottom: 0;
}
footer ul li{
  list-style-type: none;
  color: rgb(60, 136, 145);
  font-family: 'Centaur';
  margin-bottom: 0;
  padding-top: 5px;
}

.footerinfo{
  font-weight: bold;
  font-size: 20px;
  color: #4BA7B1;
  margin-bottom: 0;
}

#nameweb{
  margin-bottom: 0;
  font-size: 35px;
  color: #4BA7B1;
  font-family: 'Bernard MT Condensed';
}
/**/
#main-search {
  margin-left:10px;
  font-size: medium;
  border: none;
  outline: none;
  -webkit-transition: box-shadow 0.3s;
  transition: box-shadow 0.3s;
}

#main-search:focus {
  outline: none;
  box-shadow: -8px 10px 0px -7px #4EA6EA, -8px 10px 0px -7px #4EA6EA;
}
.mainsearch:hover{
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}
.form-card{
  padding: 50px 30px;
  border-radius: 20px;
  background-image: linear-gradient(to bottom right, rgb(223, 253, 255), rgb(140, 255, 169));
  transition: linear 0.3s;
}
.form-card:hover{
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
   transform: scale(1.05);
}
.signinform:hover, .infocard:hover{
  outline: 1px solid;
  box-shadow:
  3px 3px #53a7ea,
  4px 4px #53a7ea,
  5px 5px #53a7ea;
  -webkit-transform: translateX(-5px);
  transform: translateX(-5px);
}
.signinform, .infocard{
  box-shadow: 0px 0px 10px 1px rgb(215, 216, 216);
  background-color: rgb(255, 255, 255); 
  padding: 30px 20px;
  transition: ease 0.3s;
}
.infocard{
  box-shadow: 0px 0px 5px 1px rgb(230, 230, 230);
  margin: 0px 40px;
}
.billcheck, .payedcheck {
  border: 2px solid #53a7ea;
  margin-bottom: 5px;
  transition: ease 0.3s;
}

.billcheck:hover, .payedcheck:hover {
  border: 2px dashed #22a7ff;
  background-color: #b0dcff ;
  font-weight: bold;
  color: white;
}
.editinfo{
  box-shadow: 0px 0px 5px 1px rgb(230, 230, 230);
  padding: 20px 30px;
  transition: ease 0.3s;
}

.editinfo:hover{
  /* background-color: rgb(221, 243, 255); */
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
   transform: scale(1.05);
}
/*------------------SHOW-HIDE-----CONTENT---------*/
#hidden-content, #hidden-content2, #hidden-content3 {
  display: none;
}

.carousel-inner img {
  width: 100%;
  height: 100%
}

#custCarousel .carousel-indicators {
  position: static;
  margin-top: 20px
}

#custCarousel .carousel-indicators>li {
  width: 100px
}

#custCarousel .carousel-indicators li img {
  display: block;
  opacity: 0.5
}

#custCarousel .carousel-indicators li.active img {
  opacity: 1
}

#custCarousel .carousel-indicators li:hover img {
  opacity: 0.75
}

.carousel-item img {
  width: 80%
}

.square{
  width: 100%;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

.breadcrumb-item a:hover {
  background-color: rgb(188, 225, 255);
  padding: 0px 10px ;
  border-radius: 5px;
  text-decoration: none;
  color: white;
}

/*---------SPAN----------*/
span {cursor:pointer; }
.number1{
  margin-top: 5px;
}
.minus1, .plus1{
  width:25px;
  height:25px;
  font-weight: bold;
  background:#e2fffd;
border-radius:4px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.input1{
height:25px;
  width: 50px;
  text-align: center;
  font-size: 16px;
border:1px solid #ddd;
border-radius:4px;
  display: inline-block;
  vertical-align: middle;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}
/*---------PROMISE----------*/
.promise {
  margin-top: 40px;
  font-style: italic;
  color: #5A8B8F;
}
/*------------RATING-----------*/
.rating-box {
  display: flex;
  justify-content: center;
}
.rating {
  display: flex;
  border:none;
  /* justify-content: center; */
}

.rating-box .rating .fa {
  font-size: 30px;
  color: #ff9800;
  cursor: pointer;
}
/* .rating:not(:checked) > input {
  position:absolute;
  top:-9999px;
  clip:rect(0, 0, 0, 0);
}
.rating:not(:checked) > label {
  float:right;
  width:1em;
  padding:0 .1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:200%;
  line-height:1.2;
  color:#ddd;
}
.rating:not(:checked) > label:before {
  content:'★ ';
}
.rating > input:checked ~ label {
  color: rgb(0, 195, 255);
}
.rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label {
  color: gold;
}
.rating > input:checked + label:hover, .rating > input:checked + label:hover ~ label, .rating > input:checked ~ label:hover, .rating > input:checked ~ label:hover ~ label, .rating > label:hover ~ input:checked ~ label {
  color: #ea0;
}
.rating > label:active {
  position:relative;
} */

.avatar{
  border: 2px double rgb(216, 216, 216);
  border-radius: 10px;
  padding: 10px;
}

.table td, .table th {
  text-align: center; 
  vertical-align: middle;
}

.bill-title{
  margin-bottom: 0px;font-weight: bold; color: #38CDD9;
}
.bill-info-details{
  margin-left: 20px;
}

.bill {
  box-shadow: 1px 2px 10px gray;
  padding: 30px;
  margin : 30px 20px 20px 20px;
}

/* ERROR MESSAGES */

.alert-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.button {
  background-color: #51BCB1;
  color: white;
  font-weight: bold;
  padding: 8px;
  border-radius: 8px;
}

img.cpi {
  width: 100px;
}

table.alignmiddle td {
  vertical-align: middle !important;
}

table th {
  color: #5A8B8F;
}

.button {
  background-color: #51BCB1;
  color: white;
  font-weight: bold;
  padding: 8px;
  border-radius: 8px;
  text-decoration: none; 
}

a {
  text-decoration: none !important;
}

.stars-outer {
  position: relative;
  display: inline-block;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
  font-family: "FontAwesome";
  font-weight: 200;
  color: #ccc;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "FontAwesome";
  font-weight: 900;
  color: #f8ce0b;
}