<% include ../partials/header %>

<div class="container">
    <img src="/images/mainbanner.png" alt="Banner" class="img-fluid" style="box-shadow: 1px 1px 5px rgb(216, 216, 216);">
</div>
<img src="/images/banner.png" alt="ribbon" class="img-fluid" style="margin-top: 30px; margin-bottom: 30px;" >
<div class="container" style="text-align: center;" data-aos="fade-up">
    <p style="font-size: xx-large;font-weight: bold; color: #87ccc9;">THE KID'S WORLD</p>
</div>
<div class="container" data-aos="slide-right" data-aos-delay="50">
    <div class="row">
        <div class="col-md-4 col-sm-4" >
            <img src="/images/photo-1569975241757-dc327bc03e46.jpg" style="width: 100%; height: 200px; background-position: center; background-size: cover; object-fit: cover;"  alt="about-us">
        </div>
        <div class="col-md-8 col-sm-8">
            <p style="text-transform: uppercase; color: #5A8B8F; font-weight: bold; font-size: large; margin-bottom: 5px;">Chúng tôi là ai?</p>
            <p>The Kid's World là một website bán hàng, chuyên cung cấp những loại hàng hóa cho trẻ em với chất lượng tốt nhất và an toàn nhất.
                <br>
                Chúng tôi chuyên cung cấp các mặt hàng thiết yếu dành cho trẻ nhỏ dưới 10 tuổi như sữa, tả, quần áo, giày dép, phụ kiện, thực phẩm, đồ trang trí, đồ chơi. </p>
        </div>
    </div>
</div>
<div style="background-color: #EEFFFE; margin: 30px 0px; padding: 30px 0px;" 
data-aos="fade-up" data-aos-delay="50">
    <div class="container">
        <p style="text-transform: uppercase; color: #5A8B8F; font-weight: bold; font-size: large; margin-bottom: 5px;">Cam kết</p>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <p style="margin-top: 5px;">Hiểu rõ đối tượng khách hạng của mình là những thiên thần bé nhỏ cần có sự chuẩn bị tốt nhất cho tương lai đầy tươi sang của mình, chúng tôi hiểu rõ sứ mệnh và trách nhiệm của bản thân khi lập ra cửa hàng này. Chúng tôi cam kết với các bạn và chính bản thân mình về chất lượng của từng sản phẩm.</p>
            </div>
            <div class="col-md-4 col-sm-4">
                <img src="/images/photo-1569974641446-22542de88536.jpg" style="width: 100%; height: 200px; background-position: center; background-size: cover; object-fit: cover;"  alt="about-us">
            </div>
            <div class="col-md-4 col-sm-4">
                <p style="margin-top: 5px;">Hiểu rõ đối tượng khách hạng của mình là những thiên thần bé nhỏ cần có sự chuẩn bị tốt nhất cho tương lai đầy tươi sang của mình, chúng tôi hiểu rõ sứ mệnh và trách nhiệm của bản thân khi lập ra cửa hàng này. Chúng tôi cam kết với các bạn và chính bản thân mình về chất lượng của từng sản phẩm.</p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <p style=" text-align: center; text-transform: uppercase; color: #5A8B8F; font-weight: bold; font-size: large; margin-bottom: 5px;">Chính sách</p>
    <div class="container">
        <div class="row" data-aos="fade-up" data-aos-delay="50">
            <div class="col-md-4" >
                <div class="adven">
                    <img src="/images/pay.png" alt="payment" style="width: 100px;">
                    <p class="adven-title">THANH TOÁN</p>
                    <p class="adven-sub">Thanh toán trực tiếp khi nhận hàng không cần cọc hay thanh toán trước.</p>
                </div>
            </div>
    
            <div class="col-md-4">
                <div class="adven">
                    <img src="/images/deli.png" alt="free shipping" style="width: 100px;">
                    <p class="adven-title">GIAO HÀNG MIỄN PHÍ</p>
                    <p class="adven-sub">Nhiều hình thức thanh toán tùy thuộc vào lựa chọn của bạn</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="adven">
                    <img src="/images/warranty.png" alt="warranty" style="width: 100px;">
                    <p class="adven-title">BẢO HÀNH</p>
                    <p class="adven-sub">Bảo hành 1 tháng cho tất cả các mặt hàng.</p>
                </div>
            </div>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="50">
            <div class="col-md-4">
                <div class="adven">
                    <img src="/images/return.png" alt="return-policy" style="width: 100px;">
                    <p class="adven-title">ĐỔI TRẢ</p>
                    <p class="adven-sub">Đổi trả hoàn tiền trong vòng 30 ngày.</p>
                </div>
            </div>
    
            <div class="col-md-4">
                <div class="adven" >
                    <img src="/images/product.png" alt="quality" style="width: 100px;">
                    <p class="adven-title">CHẤT LƯỢNG</p>
                    <p class="adven-sub">Chúng tôi tự tin bảo đảm chất lượng hàng hóa của mình.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="adven">
                    <img src="/images/cusser.png" alt="Customer's Services" style="width: 100px;">
                    <p class="adven-title">CHĂM SÓC KHÁCH HÀNG</p>
                    <p class="adven-sub">Liên hệ và chúng tôi sẽ giải đáp cho bạn trong vòng 24 giờ làm việc.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <p style="text-transform: uppercase; color: #5A8B8F; font-weight: bold; font-size: large; margin-bottom: 5px;">Liên hệ</p>
            <p id="nameweb">The Kid's World</p>
            <ul class="contactinfo">
                <li>Điện thoại : 0934567899</li>
                <li>Email : nhom9@gm.uit.edu.vn</li>
                <li>Địa chỉ : Số 1 Hàn Thuyên, KP6, Phường Linh Trung, Quận Thủ Đức, TPHCM</li>
            </ul>
        </div>

        <div class="col-md-6">
            <p style="text-transform: uppercase; color: #5A8B8F; font-weight: bold; font-size: large; margin-bottom: 5px;">Mạng xã hội</p>
            <div class="container" style="margin: 0px;">
                <div class="row">
                    <i class="fa fa-facebook-square" style="color: #3b5998; font-size: 100px;margin-right: 10px;"></i>
                    <i class="fa fa-instagram" id="insta" style="font-size: 100px;margin-right: 10px;"></i>
                    <i class="fa fa-twitter-square" style="font-size: 100px; color:  #00acee;"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v7.0'
    });
  };

  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Your Chat Plugin code -->
<div class="fb-customerchat"
  attribution=setup_tool
  page_id="102523418183774"
theme_color="#44bec7"
logged_in_greeting="Xin chào! Chúng mình có thể giúp gì cho bạn?"
logged_out_greeting="Xin chào! Chúng mình có thể giúp gì cho bạn?">
</div>