<% include ../partials/header %>

<div class="container" data-aos="fade-down">
    <div class="container" style="justify-content: center; display: flex; float: inline-start;
    align-items: center;">
        <img width="50px" style="padding-right: 10px;" src="/images/sparkle.png" alt="sparkle">
        <p class="title">FAQ</p>
        <img width="50px" style="padding-left: 10px;"  src="/images/sparkle.png" alt="sparkle">
    </div>
    <p class="subtitle">Những câu hỏi thường gặp chúng tôi sẽ giải đáp cho bạn tại đây nhé!</p>
</div>
<div class="container" style="margin-top: 30px; margin-bottom: 30px;" data-aos="fade-down">
    <p style="text-transform: uppercase; color: #72c6ce; font-weight: bold; font-size: large; margin-bottom: 5px;">The Kid's World là gì?</p>
    <p>The Kid's World là một website bán hàng, chuyên cung cấp những loại hàng hóa cho trẻ em với chất lượng tốt nhất và an toàn nhất.
    <br>
    Chúng tôi chuyên cung cấp các mặt hàng thiết yếu dành cho trẻ nhỏ dưới 10 tuổi như sữa, tả, quần áo, giày dép, phụ kiện, thực phẩm, đồ trang trí, đồ chơi. </p>

    <p style="text-transform: uppercase; color: #72c6ce; font-weight: bold; font-size: large; margin-bottom: 5px;">Có giao hàng COD không?</p>
    <p>The Kid's World có hỗ trợ giao hàng COD nhé.</p>

    <p style="text-transform: uppercase; color: #72c6ce; font-weight: bold; font-size: large; margin-bottom: 5px;">Có giao hàng freeship không?</p>
    <p>The Kid's World có hỗ trợ giao hàng miễn phí cho đơn hàng có trị giá trên 1.000.000 trong phạm vi cùng thành phố.</p>

    <p style="text-transform: uppercase; color: #72c6ce; font-weight: bold; font-size: large; margin-bottom: 5px;">Các chính sách liên quan đến khách hàng ra sao?</p>
    <p>The Kid's World có các chính sách hỗ trợ khách hàng rất rõ ràng, bạn có thể xem kĩ hơn ở phần "VỀ CHÚNG TÔI" trên thanh công cụ phía trên cùng nhé!</p>
</div>

<% include ../partials/footer %>