<% include ../partials/header %>

<div class="container" style="padding: 20px;">
    <div class="row justify-content-center mb-3">
        <div class="editinfo" style="width: 700px;">
            <p style="text-align: center;color:#5CA2A8; font-weight: bold;">THÔNG TIN NGƯỜI DÙNG</p>
            <form action="/users/edituser" method="POST">
              <div style="color: #5CA2A8; margin: 0px 20px;">
                  <p style="margin-bottom: 0;">Username:</p>
                  <input style="margin-bottom: 10px;" type="text" name="username" class="form-control" id="username" value="<%= username %>" required>
                  <p style="margin-bottom: 0;">Password: </p>
                  <a href="changepass.html" type="button" class="btn btn-md button-back color-1" style="color: white; font-weight: bold;padding: 5px 20px;">
                      Thay đổi password</a>
                  <p style="margin-bottom: 0; margin-top: 10px;">Email :</p>
                  <input style="margin-bottom: 10px;" type="email" name="email" class="form-control" id="email" value="<%= email %>" required>
                  <p style="margin-bottom: 0;">Số điện thoại :</p>
                  <input style="margin-bottom: 10px;" type="tel" name="phone" class="form-control" id="phone" value="<%= phone %>" required>
                  <div class="container mt-2" style="text-align: center;">
                      <button type="submit" class="btn btn-md button-back color-1" style=" color: white; font-weight: bold; padding: 5px 20px;">
                          XÁC NHẬN</button>
                  </div>
                </form>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>