<% include ../partials/header %>

<div class="container" style="margin-bottom: 40px; margin-top: 40px;">
    <div class="col-md">
        <div class="row justify-content-center">
            <div class="signinform">
                <p style="text-align: center; color: rgb(117, 228, 222); font-size: 30px; font-weight: bold;">RESET MẬT KHẨU</p>
                <form action="/users/reset-pass" method="POST">
                    <div class="row mt-2 mx-2">
                        <label class="col-md-5 col-form-label" for="newpassword">Password mới</label>
                        <div class="col-md-7">
                            <input style="border: none; outline: none;
                            background: transparent; border-bottom: 1px solid black;" type="password" name="newPass" class="form-control" id="password" value="" required>
                        </div>
                    </div>
                    <div class="row mt-2 mx-2">
                        <label class="col-md-5 col-form-label" for="renewpass">Nhập lại Password</label>
                        <div class="col-md-7">
                            <input style="border: none; outline: none;
                            background: transparent; border-bottom: 1px solid black;" type="password" name="reenterNewPass" class="form-control" id="repass" value="" required>
                        </div>
                    </div>
                    <div class="row mt-2 mx-2">
                        <label class="col-md-5 col-form-label" for="confirmcode">Mã xác nhận</label>
                        <div class="col-md-7">
                            <input style="border: none; outline: none;
                            background: transparent; border-bottom: 1px solid black;" type="text" name="verify" class="form-control" id="confirmcoded" value="<%= verify %>" required>
                        </div>
                    </div>
                    <div class="container" style="text-align: center; margin-top: 20px;">
                        <button type="submit" class="btn btn-md button-back color-1" style="color: white; font-weight: bold; padding: 5px 20px;">XÁC NHẬN</button>
                    </div>
                    <input type="hidden" name="username" value="<%= username %>">
                </form>
            </div>
        </div>
        <div class="container" style="text-align: center; margin-top: 40px;">
            <p style="margin-bottom: 0px;">Bạn chưa có tài khoản?</p>
            <a href="signup.html" style="color: #EC636D;">Bấm vào đây để đăng ký ngay!</a>
        </div>
    </div>
</div>

<% include ../partials/footer %>
