<% include ../partials/header %>
    <div class="container " style="margin-top: 40px; margin-bottom: 40px;">
        <div class="row justify-content-center" >
            <div class="col-mb w-75" >
                <div class="form-card"> 
                    <div class="row">
                        <div class="col-md-6" style="text-align: center; align-self: center; margin-bottom: 5px;">
                            <img src="/images/logo.png" alt="" class="img-fluid rounded mx-auto d-block">
                        </div>
                        <div class="col-md-6 text-center">
                            <div class="container">
                                <div class="signinform">
                                    <p style="text-align: center; color:rgb(57, 175, 96); font-weight: bold; font-size: 25px;">ĐĂNG NHẬP</p>
                                    <form action="/users/signin" method="POST">
                                        <input style="margin-bottom: 10px;" type="text" name="username" class="form-control" id="username" placeholder="Username" value="">
                                        <input type="password" name="password" class="form-control" id="password" placeholder="Password" value="">
                                        <button type="submit" style="margin-top: 10px; font-weight: bold;" class="btn btn-success btn-md btn-block">
                                    </form>
                                    ĐĂNG NHẬP</button>
                                    <div class="col-md-12 d-flex mt-1 pl-0">
                                        <div class="col-md-6 pl-0">
                                            <a href="/auth/gg" type="button" class="btn btn-lg btn-block text-white" style="background-color:#EA4335; padding: 6px; margin-left: 0; font-size: 15px;">
                                                <span class="fa fa-google"></span>
                                                <strong>GOOGLE</strong></a>
                                        </div>
                                        <div class="col-md-6" style="text-align: end; margin-top: 6px; padding: 0px; margin-bottom: 30px;">
                                            <a href="/users/forgot-pass" style="margin-bottom: 0px;">Quên mật khẩu?</a>
                                        </div>
                                    </div>
                                    <div class="container" style="text-align: center;">
                                        <p style="margin-bottom: 0px;">Bạn chưa có tài khoản</p>
                                        <a href="/users/signup" style="color: #EC636D;">Bấm vào đây để đăng ký ngay!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% include ../partials/footer %>